/* Universal Selector  */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* Common Class  */
.container {
    max-width: 1360px;
    margin: 20px auto;
}

.btn {
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
    border-radius: 4px;
    padding: 16px 12px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffff;
    outline: 2px solid #469165;
    color: #469165;
}



/* navbar  */
.navbar {
    display: flex;
    max-width: 1360px;
    justify-content: space-between;
    align-items: center;
    margin: 16px auto;
}

.nav-menu ul {
    display: flex;

}

.nav-menu ul li {
    list-style: none;
    margin-right: 32px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #000000;
}

.nav-menu ul li a:hover {
    color: black;
    font-weight: 600;
}


/* Hero section  */
.hero-section {
    background-image: url('./assets/hero-bg.png');
    width: 100%;
    height: 583px;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #469165;
    background-color: white;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
}

.btn-grp {
    display: flex;

    justify-content: center;
    text-align: center;
    padding-top: 70px;
}



.hero-content h1 {
    text-align: center;
    color: white;
    margin-top: 16px;
    font-size: 72px;
}

.hero-content h1 span {
    color: #30B868;
}

.hero-content p {
    margin-top: 16px;
    text-align: center;
    line-height: 24px;
    color: #ffff;
}

.btn-grp2 {
    text-align: center;
    margin-top: 32px;
    padding-bottom: 134px;
}

.hero-btn1 {
    background-color: #469165;
    padding: 18px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.hero-btn1:hover {
    background-color: transparent;
    outline: 2px solid #30B868;
    color: #30B868;
}

.hero-btn2 {
    background: transparent;
    border: 2px solid white;
    padding: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 16px;
    color: white;
    font-weight: 600;
}

.hero-btn2:hover {
    background-color: #469165;
    border: none;
    border: 2px solid #469165;
}


/* card section */
.card-details {
    text-align: center;
    margin-top: 70px;
}

.card-details h1 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.card-details p {
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
}

.card {
    display: flex;
    gap: 24px;
}

.card .card-content {
    background-color: white;
    border-radius: 8px;
    padding: 70px 24px;
    text-align: center;
    box-shadow: 0px 10px 30px #c5c3c3;
}

.card .card-content .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
}

.card-title h2 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin: 16px 0;
}

.card-title p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}


/* solution section */
.solution-content {
    display: flex;
    gap: 60px;
    margin: 120px 0;
}

.solution-title {
    display: flex;
    align-items: center;
}

.solution-title .solution-details #solution-heading {
    color: #469165;
    line-height: 20px;
    margin-bottom: 16px;
}

.solution-title .solution-details h1 {
    font-size: 60px;
    color: #001931;
    margin-bottom: 16px;
}

.solution-title .solution-details #solution-text {
    color: #627382;
    line-height: 20px;
    margin-bottom: 16px;
}

.solution-list {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 7px;
}



/* .Bottom section */
.bottom-section {
    background-color: #F7F6F2;
    text-align: center;
    padding: 80px 40px;
    margin-bottom: 120px;
}

.bottom-section h1 {
    color: #001931;
    font-size: 40px;
}

.bottom-text {
    color: #627382;
    line-height: 24px;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.bottom-section button {
    box-shadow: 15px 20px 50px #e1dcdc;
}

/* Footer Section  */
.footer {
    background-color: #001931;
    height: 384px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 80px;
}

.footer-details {
    padding-right: 107px;
}

.footer-details p {
    color: #ffff;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
}

.footer-icon {
    display: flex;
    gap: 16px;
}

.footer-img {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border-radius: 50%;
    cursor: pointer;
}

.footer-img:hover {
    background-color: #30B868;
}

hr {
    opacity: 20%;
    margin-bottom: 16px;
}

.copy-right-text p {
    text-align: center;
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
}




/* Responsive for mobile (576px) */
@media screen and (max-width: 576px) {
    header .navbar button{
        display: none;
    }

    .navbar .nav-menu ul li a{
        font-size: 14px;
    }

    .hero-content h1{
        font-size: 48px;
    }

    .hero-content p{
        padding: 0 20px;
    }

    .card{
        flex-direction: column;
        align-items: center;
        max-width: 576px;
        padding: 0 30px;
    }

    .solution-content{
        flex-direction: column;
    }

    .solution-img img{
       width: 100%;
    }

    .solution-details{
        padding: 0 30px;
    }
    .solution-title .solution-details h1{
        font-size: 48px;
    }

    .footer-content{
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer-details{
        padding-right: 30px;
    }
}