/* Universal Selector  */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* Common Class  */
.container {
    max-width: 1360px;
    margin: 20px auto;
}

.btn {
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
    border-radius: 4px;
    padding: 16px 12px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffff;
    border: 2px solid #469165;
    color: #469165;
}



/* navbar  */
.navbar {
    display: flex;
    max-width: 1360px;
    justify-content: space-between;
    align-items: center;
    margin: 16px auto;
}

.nav-menu ul {
    display: flex;

}

.nav-menu ul li {
    list-style: none;
    margin-right: 32px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #000000;
}



/* Hero section  */
.hero-section {
    background-image: url('./assets/hero-bg.png');
    width: 100%;
    height: 583px;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-btn {
    color: #469165;
    background-color: white;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
}

.btn-grp {
    text-align: center;
    padding-top: 70px;
}

.hero-btn {}

.hero-content h1 {
    text-align: center;
    color: white;
    margin-top: 16px;
    font-size: 72px;
}

.hero-content h1 span {
    color: #30B868;
}

.hero-content p {
    margin-top: 16px;
    text-align: center;
    line-height: 24px;
    color: #ffff;
}

.btn-grp2 {
    text-align: center;
    margin-top: 32px;
    padding-bottom: 134px;
}

.hero-btn1 {
    background-color: #469165;
    padding: 18px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.hero-btn1:hover {
    background-color: transparent;
    border: 2px solid #30B868;
    color: #30B868;
}

.hero-btn2 {
    background: transparent;
    border: 2px solid white;
    padding: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 16px;
    color: white;
    font-weight: 600;
}

.hero-btn2:hover {
    background-color: #469165;
    border: none;
}


/* card section */
.card-details {
    text-align: center;
    margin-top: 70px;
}

.card-details h1 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.card-details p {
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
}

.card {
    display: flex;
    gap: 24px;
}

.card .card-content {
    background-color: white;
    border-radius: 8px;
    padding: 70px 24px;
    text-align: center;
    box-shadow: 0px 10px 30px #c5c3c3;
}

.card .card-content .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
}

.card-title h2 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin: 16px 0;
}

.card-title p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}