/* Universal Selector  */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* Common Class  */
.container {
    max-width: 1600px;
}

.btn {
    background-color: #469165;
    font-size: 16px;
    color: #ffff;
    border-radius: 4px;
    padding: 16px 12px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffff;
    border: 2px solid #469165;
    color: #469165;
}

.navbar {
    display: flex;
    max-width: 1360px;
    justify-content: space-between;
    align-items: center;
    margin: 16px auto;
}

.nav-menu ul {
    display: flex;

}

.nav-menu ul li {
    list-style: none;
    margin-right: 32px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #000000;
}

.hero-section{
    background-image: url('./assets/hero-bg.png');
}